.link {
  color: black;
}
.link:hover {
   color: grey;
   text-decoration: none;
}

.active {
  color: orangered;
}

.navbar-home {
  color: orangered;
}

.app {
  height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../src/img/backdrop.jpg') center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-jumbo {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px
}

main {
  height: 100vh;
}

.jumbotron > .container {
  position: relative;
  z-index: 5;
}


/* background: url(/static/media/backdrop.53c443f2.jpg) center no-repeat;
    background-size: cover; */