.link {
  color: black;
}
.link:hover {
   color: grey;
   text-decoration: none;
}

.active {
  color: orangered;
}

.navbar-home {
  color: orangered;
}

.app {
  height: 100vh;
}

.home {
  background-image: url('../src/img/backdrop.jpg');
  background-size: 100vh;
  background-repeat: no-repeat;
  height: 100%
}

main {
  height: 100vh;
}